/venn
/venn/*.iml
/venn/gradle
/venn/local.properties
/venn/.idea/workspace.xml
/venn/.idea/libraries
/venn/.idea/vcs.xml
/venn/.idea/misc.xml
/venn/.idea/modules.xml
/venn/.idea/
.DS_Store
/venn/build
/venn/captures
/venn.externalNativeBuild
