<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isaacna.projects">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Venn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CommunitiesActivity" />
        <activity android:name=".MatchesActivity" />
        <activity android:name=".CandidateActivity" />
        <!-- <activity -->
        <!-- android:name=".Create" -->
        <!-- android:label="@string/title_activity_create" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity android:name=".CreateActivity" />
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_first"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".oneMatchActivity"
            android:label="@string/title_activity_one_match"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".JoinCommActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddCommunityActivity" />
        <activity
            android:name=".addCommunity"
            android:label="@string/title_activity_add_community"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".createCommunity" />
        <activity android:name=".CreateCommunityActivity" />
        <activity android:name=".JustCreatedActivity"></activity>
    </application>

</manifest>